.bg-gradient-custom { 
    background: #D5FFFF; 
    background: -webkit-linear-gradient(to bottom, #FFFFFF, #D5FFFF, #D5FFFF); 
    background: linear-gradient(to bottom, #FFFFFF, #D5FFFF, #D5FFFF); 
}